#root {
  max-width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.crypto {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
}

.crypto-image {
  width: 3vw;
  height: 3vw;
}

.crypto-item-container:hover {
  transform: scale(1.05); /* Add scale transform on hover */
  background-color: #021c42;
}

.crypto-item-container {
  display: flex;
  justify-content: center;
  text-align: center;
  width: fit-content;
  align-items: center;
  padding: 2vw;
  margin: 1vw 0;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.2vw rgba(255, 255, 255, 0.998);
  transition: transform 0.3s ease-in-out;
  background-color: rgb(51, 51, 51);
  color: rgba(255, 255, 255, 0.87);
}

.cryptos-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3vw;
  align-items: center;
  max-height: 100%;
}

.crypto-green {
  color: rgb(9, 243, 9);
}

.crypto-red {
  color: rgb(242, 52, 52);
}

#search {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  border: 1px solid white;
  background-color: rgb(21, 19, 19);
  padding: 0.5vw;
  border-radius: 0.5vw;
  width: 20vw;
  margin-bottom: 1vw;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  margin-bottom: -2vw;
}

.crypto-ticker {
  width: fit-content;
  animation-name: ticker;
  animation-duration: 100s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  white-space: nowrap;
  justify-content: center;
  padding: 1vw;
}

@keyframes ticker {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.abbreviated-name {
  margin: 1vw;
}

.abbreviated-name:hover {
  color: rgb(34, 113, 232);
}

.moving {
  width: 1vw;
  height: 1vw;
}

.nyse-moving-ticker {
  overflow-x: hidden;
  width: 100%;
  background-color: black;
  box-shadow: 0 0 0.2vw rgba(255, 255, 255, 0.998);
  border-radius: 0.5vw;
}

.sidenav {
  width: 18vw;
  background-color: #fdde56;
  margin-right: 1vw;
  padding: 2vw;
  margin-left: 0;
  top: 0;
  border-radius: 0.5vw;
  box-shadow: 0 0 0.2vw rgba(255, 255, 255, 0.998);
}

.page {
  display: flex;
}

.content {
  margin: 1em;
  width: 65vw;
}

.coin-detail-image {
  width: 10vw;
  height: 10vw;
}

/* Table */
table {
  width: fit-content;
  width: 100%;
  border: 1px solid whitesmoke;
}

/* Table Header */
thead {
  background-color: rgb(31, 30, 30);
  color: rgb(255, 255, 255);
  border: 1px solid whitesmoke;
}

/* Table Header Cells */
th {
  padding: 10px;
  text-align: center;
  border: 1px solid whitesmoke;
}

/* Table Body */
tbody {
  background-color: rgb(49, 49, 49);
  color: rgb(255, 255, 255);
  
}

/* Table Cells */
td {
  padding: 10px;
  border: 1px solid whitesmoke;
}

#table-div {
  align-items: center;
  justify-content: center;
}

#refresh {
  background-color: rgb(16, 63, 133);
}

#refresh:hover {
  background-color: rgb(34, 113, 232);
}

.links {
  display: flex;
  justify-content: center;
  gap: 3vw;
}

#home {
  background-color: rgb(107, 3, 3);
}

#home:hover {
  background-color: rgb(179, 44, 51);
}

#crypto-icon {
  width: 5vw;
  height: 5vw;
}